<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaculTime | Login & Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getstarted.css') }}">
</head>
<body>
    <div class="front-page">
        <img src="static\images\bsulogo.png" alt="FaculTime Logo" class="front-image2">
        <h1>
            <img src="static/images/facultime.png" alt="FaculTime Logo" class="facultime-logo">
            FACULTIME
        </h1>
        <p>This is a software program that allows students of Batangas State University Alangilan - TNEU to arrange appointments with the faculty.</p>
        <button onclick="window.location.href='/login'">Get Started</button>
    </div>
</body>
</html>
